@keyframes rotate {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes zoom {
    from{
        transform: scale(1.0);
    }

    to{
        transform: scale(1.4);
    }
}

@keyframes ring{
    from{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(30deg);
    }

    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes vibrate {
    0%{
        transform: translate(.2vw);
    }

    50%{
        transform: translate(-.2vw);
    }

    100%{
        transform: translate(0);
    }
}